/* Main Styles */
html, body {
    background: linear-gradient(#101e33, #091018 80%);
    background-color: #091018;
    background-repeat: no-repeat;
    color: #bae9ff;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 2em;
    padding: 0px;
}

.content-section {
    display: flex;
    justify-content: left;
    border: 1px solid #00bbc2;
    padding: 1.25em 0px;
    border-radius: 14px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 40em;
    margin: 1.5em 0;
}

.content-section-text {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/* Social Icons */
#social-icons {
    display: flex;
    justify-content: left;
    width: fit-content;
    padding: 12px 0px;
    float: right;
    align-items: center;
    gap: 8px;
    width: 100%;
}

#social-icons img {
    border-radius: 50%;
    padding: 0px 2px;
}

#avatar {
    border-radius: 50%;
    object-fit: cover;
    padding: 0px 10px;
    float: left;
}


/* Work Experience */
.work-section {
    align-items: flex-start;
}


.skill-tags {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    gap: 4px;
    flex-wrap: wrap;
    width: 100%;

}

.technologies-container {
    display: flex;
    gap: 8px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.skill-tags span, .technologies span {
    color: #22f6fd;
    border: 1px solid #3e5970;
    background-color: #293d49;
    border-radius: 7px;
    padding: 6px;
    margin: 2px;
    text-align: center;
}


.project-container img {
    float: left;
    padding: 1.5em;
}

/* Certifications & Education */
.education-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    min-height: 24em;
    margin: 1.5em 0em;
}

.cert-section {
    display: block;
    border: 1px solid #00bbc2;
    text-align: center;
    padding: 0.75em;
    border-radius: 14px;
    margin: 0.5em 0px;
    width: 30%;
    min-width: 10em;
    height: 22em;
}

.cert-section img {
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;

}

.cert-section svg {
    padding: 10px;
}

.cert-section p {
    min-height: 3em;
}

.cert-section h3 {
    min-height: 4em;
}

/*Header Styles */

#header-text {
    text-align: center;
}

#header-text h1 {

    word-wrap: break-word;
}

#header-text span {
    font-size: 18px;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 854px;
    box-sizing: border-box;
}

#greeting {
    text-align: left;
}

/* Heading Styles */
h1 {
    font-size: 3.6em;
    color: #bafdff;
}

h2 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
}

h3 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 12px;
    color: #bafdff;
    padding: 0px;
}

h4 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 20px;
}

/* Links */
a, a:visited, a:hover, a:active {
    color: #bafdff;
    text-decoration: none;
}

/* Buttons */
#email-button {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.buttons {
    border: 1px solid #00f7ff;
    color: #00f7ff;
    padding: 12px;
    text-align: center;
}

/* Mobile */
@media only screen and (max-width: 767px) {

    .cert-section {
        width: 90%;
    }

    .cert-section h3 {
        min-height: 2em;
    }

    .content-section {
        width: 90%;
    }

    h1 {
        font-size: 2.5em;
    }


}